FORMAT: 1A
HOST: http://enterprise.api.gizwits.com/v1/

# Enterprise API

# 错误信息

## 错误信息格式

    {
        "error_code": "5001",
        "error_msg": "body json invalid",
        "detail": ""
    }

## 错误信息列表

| status_code | error_code | error_message                           |
|-------------|------------|-----------------------------------------|
|         400 |       5001 | body json invalid                       |
|         400 |       5002 | form invalid                            |
|         404 |       5003 | enterprise id not exist                 |
|         400 |       5004 | enterprise secret error                 |
|         400 |       5005 | product secret error                    |
|         400 |       5006 | product exist devicegroups              |
|         404 |       5007 | association not exist                   |
|         400 |       5008 | association existed                     |
|         400 |       5009 | token invalid                           |
|         400 |       5010 | token not match product_key             |
|         400 |       5011 | token has expired                       |
|         400 |       5012 | ip not in white list                    |
|         403 |       5013 | API call rate limit exceed quota        |
|         403 |       5201 | device group not belong to this product |
|         404 |       5202 | parent group not exist                  |
|         400 |       5203 | already has one root group              |
|         400 |       5204 | group has subgroup                      |
|         400 |       5205 | group has device item                   |

# Group 产品

## 关联产品 [/products/{product_key}/association]

### 创建关联 [POST]

一个 product_key 只能关联到一个 enterprise_id。

+ Request (application/json)

    + Body

            {
                "enterprise_id": "ad7e60f0594247dcba017ba76d2f4275",
                "enterprise_secret": "db2ac98200824181b447b03e4d42f99b",
                "product_secret": "8f11ee69eb9d4269ba0777ca5e7280f5"
            }

+ Response 201 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
            }

### 取消关联 [DELETE]

产品下存在设备组不允许取消关联。

+ Request (application/json)

    + Body

            {
                "enterprise_id": "ad7e60f0594247dcba017ba76d2f4275",
                "enterprise_secret": "db2ac98200824181b447b03e4d42f99b",
                "product_secret": "8f11ee69eb9d4269ba0777ca5e7280f5"
            }

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
            }

## 授权 [/products/{product_key}/access_token]

### 获取 token [POST]

+ Request (application/json)

    + Body

            {
                "enterprise_id": "ad7e60f0594247dcba017ba76d2f4275",
                "enterprise_secret": "db2ac98200824181b447b03e4d42f99b",
                "product_secret": "8f11ee69eb9d4269ba0777ca5e7280f5"
            }

+ Response 201 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "token": "7cf955ec8b504d6497d83f39ce9b16d2",
                "expired_at": 1372700873
            }

## 产品信息 [/products/{product_key}]

### 获取产品信息 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "name": "Good Product"
            }

# Group 企业平台登录（内部）

## 企业平台登录验证 [/enterprises/verfiy]

### 企业平台登录验证 [POST]

仅供 GDMS 连接 SSL 时，SSL 服务器验证 GDMS 时调用。

+ Request (application/json)

    + Body

            {
                "enterprise_id": "ad7e60f0594247dcba017ba76d2f4275",
                "enterprise_secret": "db2ac98200824181b447b03e4d42f99b",
                "ip": "127.0.0.1"
            }

+ Response 200 (application/json)

    + Body

            {
            }

# Group 设备组

## 设备组 [/products/{product_key}/device_groups]

### 创建设备组 [POST]

parent 为可选参数，如果有 parent 表示创建一个子设备组。

一个产品只能有一个根设备组。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

    + Body

        {
            "parent_gid": "450efc08ee084a839bbf15d5f9ada9e7"
        }

+ Response 201 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "gid": "06e248b1b3ef4f10a1bfbe78402aa94f"
            }

## 设备组管理 [/products/{product_key}/device_groups/{gid}]

+ Parameters
    + gid (required, string, `06e248b1b3ef4f10a1bfbe78402aa94f`)

### 删除设备组 [DELETE]

删除设备组需要先清空设备组下所有设备及子设备组。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
            }

### 更新设备组 [PUT]

一个 MAC 只能属于产品下的某一个分组。

+ 参数
    + action: 操作，"assign" | "unassign"
    + macs: MAC 列表，最多一次上传 1000 个 MAC
    + reassign: 当 action 为 "assign" 时有效。当 reassgin 为 true，MAC 如果已经在某个设备组下面，会被移动到当前组；当 reassign 为 false，MAC 如果已经在某个设备组下面，则移动失败。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

    + Body

            {
                "action": "assign",
                "macs": ["5ccc3d9d5205", "ed7a6aaddd5f", "24017a84df87"],
                "reassign": true
            }

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "success": ["5ccc3d9d5205"],
                "failed": ["ed7a6aaddd5f"]
            }

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

    + Body

            {
                "action": "unassign",
                "macs": ["ed7a6aaddd5f", "24017a84df87"]
            }

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "success": ["5ccc3d9d5205"],
                "failed": ["ed7a6aaddd5f"]
            }

# Group 设备

## 激活报表 [/products/{product_key}/devices/report/activation{?gid}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)

### 获取激活报表 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026fe66"

    + Body

            {
                "gid": null,
                "total": 5600,
                "activated": 5000,
                "nonactivated": 600,
                "location": {
                    "China": {
                        "count": 1000,
                        "Guangdong": {
                            "count": 500,
                            "Guangzhou": 60
                        }
                    }
                }
            }

## 激活历史报表 [/products/{product_key}/devices/report/activation/history{?gid,cycle,start,end}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)
    + cycle (required, string, `date`, 统计周期，可以为 date|week|month)
    + start (required, string, `2015-10-01`, 起始周期，为起始日期、起始周或起始月)
    + end (required, string, `2015-10-05`, 结束周期，为结束日期、结束周或结束月)

### 获取激活历史报表 [GET]

日报表最多查询 30 天。
周报表最多查询 53 周。
月报表最多查询 12 月。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026fe66"

    + Body

            {
                "gid": null,
                "cycle": "date",
                "start": "2015-10-01",
                "end": "2015-10-02",
                "data": [
                    {
                        "date": "2015-10-01",
                        "count": 1100,
                        "location": {
                            "China": { 
                                "count": 1000, 
                                "Guangdong": { 
                                    "count": 300, 
                                    "Guangzhou": 20 
                                } 
                            }
                        }
                    },
                    {
                        "date": "2015-10-02",
                        "count": 1100,
                        "location": {
                            "China": { 
                                "count": 1000, 
                                "Guangdong": { 
                                    "count": 300, 
                                    "Guangzhou": 20 
                                } 
                            }
                        }
                    }
                ]
            }

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026fe66"

    + Body

            {
                "gid": null,
                "cycle": "week",
                "start": "2015-13",
                "end": "2015-14",
                "data": [
                    {
                        "week": "2015-13",
                        "count": 1100,
                        "location": {
                            "China": { 
                                "count": 1000, 
                                "Guangdong": { 
                                    "count": 300, 
                                    "Guangzhou": 20 
                                } 
                            }
                        }
                    },
                    {
                        "week": "2015-14",
                        "count": 1100,
                        "location": {
                            "China": { 
                                "count": 1000, 
                                "Guangdong": { 
                                    "count": 300, 
                                    "Guangzhou": 20 
                                } 
                            }
                        }
                    }
                ]
            }

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026fe66"

    + Body

            {
                "gid": null,
                "cycle": "month",
                "start": "2015-01",
                "end": "2015-02",
                "data": [
                    {
                        "month": "2015-01",
                        "count": 1100,
                        "location": {
                            "China": { 
                                "count": 1000, 
                                "Guangdong": { 
                                    "count": 300, 
                                    "Guangzhou": 20 
                                } 
                            }
                        }
                    },
                    {
                        "month": "2015-02",
                        "count": 1100,
                        "location": {
                            "China": {
                                "count": 1000,
                                "Guangdong": {
                                    "count": 300,
                                    "Guangzhou": 20
                                } 
                            }
                        }
                    }
                ]
            }

## 活跃设备报表 [/products/{product_key}/devices/report/liveness{?gid}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)

### 获取活跃设备报表 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026fe66"

    + Body

            {
                "gid": null,
                "latest_1": 40,
                "latest_7": 100,
                "latest_30": 300,
                "location": {
                    "China": {
                        "latest_1": 40,
                        "latest_7": 100,
                        "latest_30": 300,
                        "Guangdong": {
                            "latest_1": 40,
                            "latest_7": 100,
                            "latest_30": 300,
                            "Guangzhou": {
                                "latest_1": 40,
                                "latest_7": 100,
                                "latest_30": 300,
                            }
                        }
                    }
                }
            }

## 活跃历史报表 [/products/{product_key}/devices/report/liveness/history{?gid,cycle,start,end}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)
    + cycle (required, string, `date`, 统计周期，可以为 date, week 或 month)
    + start (required, string, `2015-10-01`, 起始周期，为起始日期、起始周或起始月)
    + end (required, string, `2015-10-05`, 结束周期，为结束日期、结束周或结束月)

### 获取活跃历史报表 [GET]

日报表最多查询 30 天。
周报表最多查询 53 周。
月报表最多查询 12 月。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026fe66"

    + Body

            {
                "gid": null,
                "cycle": "date",
                "start": "2015-10-01",
                "end": "2015-10-02",
                "data": [
                    {
                        "date": "2015-10-01",
                        "count": 1100,
                        "China": { 
                            "count": 1000, 
                            "Guangdong": { 
                                "count": 300, 
                                "Guangzhou": 20 
                            } 
                        }             
                    },
                    {
                        "date": "2015-10-02",
                        "count": 1100,
                        "China": { 
                            "count": 1000, 
                            "Guangdong": { 
                                "count": 300, 
                                "Guangzhou": 20 
                            } 
                        }             
                    }
                ]
            }

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f
                        
    + Body

            {
                "gid": null,
                "cycle": "week",
                "start": "2015-13",
                "end": "2015-14",
                "data": [
                    {
                        "week": "2015-13",
                        "count": 1100,
                        "China": { 
                            "count": 1000, 
                            "Guangdong": { 
                                "count": 300, 
                                "Guangzhou": 20 
                            } 
                        }             
                    },
                    {
                        "week": "2015-14",
                        "count": 1100,
                        "China": { 
                            "count": 1000, 
                            "Guangdong": { 
                                "count": 300, 
                                "Guangzhou": 20 
                            } 
                        }             
                    }
                ]
            }

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "cycle": "month",
                "start": "2015-01",
                "end": "2015-02",
                "data": [
                    {
                        "month": "2015-01",
                        "count": 1100,
                        "China": { 
                            "count": 1000, 
                            "Guangdong": { 
                                "count": 300, 
                                "Guangzhou": 20 
                            } 
                        }             
                    },
                    {
                        "month": "2015-02",
                        "count": 1100,
                        "China": { 
                            "count": 1000, 
                            "Guangdong": { 
                                "count": 300, 
                                "Guangzhou": 20 
                            } 
                        }             
                    }
                ]
            }


## 搜索设备 [/products/{product_key}/devices/search{?gid,country,region,city,is_online,is_faulty,is_alert,type,val,liveness_start,limit,skip}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)
    + country (optional, string, `China`)
    + region (optional, string, `Guangdong`)
    + city (optional, string, `Guangzhou`)
    + is_online (optional, integer, `1`, 在线为 1，不在线为 0)
    + is_faulty (optional, integer, `1`, 故障为 1，无故障为 0)
    + is_alert (optional, integer, `1`, 报警为 1，无报警为 0)
    + liveness_start (optional, integer, `1431593561`, 最近活跃时间戳)
    + type (optional, string, `did`, 可以为 did|mac|uid)
    + val (optional, string, `gdGn7PzAYf4VrhnVag5x8D`)
    + limit (optional, integer, `20`)
    + skip (optional, integer, `0`)    

### 搜索设备 [GET]

mac 地址忽略大小写。
按照设备最近的登陆时间降序排序。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "meta": {
                    "total": 100,
                    "limit": 20,
                    "skip": 0,
                    "next": "/v1/products/8f11ee69eb9d4269ba0777ca5e7280f5/devices/search?did=gdGn7PzAYf4VrhnVag5x8D&skip=20&limit=20",
                    "previous": null
                },
                "objects": [{
                    "did": "gdGn7PzAYf4VrhnVag5x8D",
                    "mac": "30bd7c6f94fd",
                    "is_online": true,
                    "country": "China", 
                    "region": "Guangdong",
                    "city": "Guangzhou",
                    "longitude": 116.30814954222,
                    "latitude": 40.056885091681,
                    "is_faulty": false,  
                    "is_alert": false,
                    "latest_online": 1372700873,
                    "created_at": 1372700873
                }]
            }

## 设备历史数据 [/products/{product_key}/devices/{did}/data{?start_ts,end_ts,limit,skip}]

+ Parameters
    + did (required, string, `gdGn7PzAYf4VrhnVag5x8D`)
    + start_ts (optional, integer, `1372700873`)
    + end_ts (optional, integer, `1372701873`)
    + limit (optional, integer, `20`)
    + skip (optional, integer, `0`)

### 获取设备历史数据 [GET]

按 ts 降序排序。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "meta": {
                    "total": 100,
                    "limit": 20,
                    "skip": 0,
                    "next": "/v1/products/8f11ee69eb9d4269ba0777ca5e7280f5/devices/gdGn7PzAYf4VrhnVag5x8D/data?start_ts=1372700873&end_ts=1372701873&skip=20&limit=20",
                    "previous": null
                },
                "objects": [{
                    "ts": 1372701873,
                    "attrs": {
                        "temp": 20,
                        "humi": 60
                    }
                }, {
                    "ts": 1372701880,
                    "attrs": {
                        "temp": 20,
                        "humi": 60
                    }
                }]
            }

## 设备上下线记录 [/products/{product_key}/devices/{did}/online{?start_ts,end_ts,limit,skip}]

+ Parameters
    + did (required, string, `gdGn7PzAYf4VrhnVag5x8D`)
    + start_ts (optional, integer, `1372700873`)
    + end_ts (optional, integer, `1372701873`)
    + limit (optional, integer, `20`)
    + skip (optional, integer, `0`)

### 获取设备上下线记录 [GET]

按 ts 降序排序。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "meta": {
                    "total": 100,
                    "limit": 20,
                    "skip": 0,
                    "next": "/v1/products/8f11ee69eb9d4269ba0777ca5e7280f5/devices/gdGn7PzAYf4VrhnVag5x8D/online?start_ts=1372700873&end_ts=1372701873&skip=20&limit=20",
                    "previous": null
                },
                "objects": [{
                    "timestamp": 1372701873,
                    "type": "dev_online",
                    "payload": ""
                    },{
                    "timestamp": 1372701880,
                    "type": "dev_offline",
                    "payload": "{\"duration\": 0, \"heartbeat\": {\"count\": 4, \"max\": 0, \"avg\": 0, \"last\": 0, \"min\": 0}, \"reason\": \"tcp_closed\"}"
                }]
            }


## 设备通信日志 [/products/{product_key}/devices/{did}/cmd{?start_ts,end_ts,limit,skip}]

+ Parameters
    + did (optional, string, `gdGn7PzAYf4VrhnVag5x8D`)
    + start_ts (optional, integer, `1372700873`)
    + end_ts (optional, integer, `1372701873`)
    + limit (optional, integer, `20`)
    + skip (optional, integer, `0`)

### 获取设备通信日志 [GET]

按 ts 降序排序。
payload 为二进制进行 base64 编码后的结果。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "meta": {
                    "total": 100,
                    "limit": 20,
                    "skip": 0,
                    "next": "/v1/products/8f11ee69eb9d4269ba0777ca5e7280f5/devices/gdGn7PzAYf4VrhnVag5x8D/cmd?start_ts=1372700873&end_ts=1372701873&skip=20&limit=20",
                    "previous": null
                },
                "objects": [{
                    "timestamp": 1372701873,
                    "type": "dev2app",
                    "payload": "AAAAAwUAAJEEAA=="
                }, {
                    "timestamp": 1372701880,
                    "type": "app2dev",
                    "payload": "AAAAAwUAAJEEAA=="
                }]
            }

## 设备地理位置分布 [/products/{product_key}/devices/locations{?gid,is_online,is_faulty,is_alert}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)
    + is_online (optional, integer, `1`)
    + is_faulty (optional, integer, `0`)
    + is_alert (optional, integer, `1`)

### 获取设备地理位置分布 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "total": 5600,
                "location": {
                    "China": {
                        "count": 1000,
                        "Guangdong": {
                            "count": 500,
                            "Guangzhou": 60
                        }
                    }
                }
            }


# Group 用户

## 用户总数报表 [/products/{product_key}/users/report/total{?gid}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)

### 获取用户总数报表 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "total": 5600
            }

## 用户新增报表 [/products/{product_key}/users/report/new{?gid,cycle,start,end}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)
    + cycle (required, string, `date`, 统计周期，可以为 date, week 或 month)
    + start (required, string, `2015-10-01`, 起始周期，为起始日期、起始周或起始月)
    + end (required, string, `2015-10-05`, 结束周期，为结束日期、结束周或结束月)

### 获取用户新增报表 [GET]

日报表最多查询 30 天。
周报表最多查询 53 周。
月报表最多查询 12 月。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "cycle": "date",
                "start": "2015-10-01",
                "end": "2015-10-02",
                "data": [
                    {
                        "date": "2015-10-01",
                        "count": 1100
                    },
                    {
                        "date": "2015-10-02",
                        "count": 1100
                    }
                ]
            }

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "cycle": "week",
                "start": "2015-13",
                "end": "2015-14",
                "data": [
                    {
                        "week": "2015-13",
                        "count": 1100
                    },
                    {
                        "week": "2015-14",
                        "count": 1100
                    }
                ]
            }

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "cycle": "month",
                "start": "2015-01",
                "end": "2015-02",
                "data": [
                    {
                        "month": "2015-01",
                        "count": 1100
                    },
                    {
                        "month": "2015-02",
                        "count": 1100
                    }
                ]
            }


## 搜索用户 [/products/{product_key}/users/search{?type,val,limit,skip}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)
    + type (optional, string, `username`, 查询条件，为 username|phone|email|did|mac)
    + val (optional, string, `Bob`, 查询条件值)
    + limit (optional, integer, `20`, 每次返回的条数)
    + skip (optional, integer, `0`, 每次跳过的条数

### 搜索用户 [GET]

username 为模糊查找；mac 地址忽略大小写；其他精确匹配。
auth_src 可以为 qq, baidu, sina。
只返回和设备具有绑定关系的用户。
按照用户的创建时间升序排序。

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "meta": {
                    "total": 100,
                    "limit": 20,
                    "skip": 0,
                    "next": "/v1/products/8f11ee69eb9d4269ba0777ca5e7280f5/users/search?type=username&val=Bob&skip=20&limit=20",
                    "previous": null
                },
                "objects": [{
                    "uid": "4e31bf18f65041e2922bb1d918ed9299",
                    "username": "Bob",
                    "phone": null,
                    "email": null,
                    "created_at": 1372700873,
                    "is_anonymous": false,
                    "auth_src": null
                }]
            }

# Group 故障与报表

## 故障设备台数报表 [/products/{product_key}/fault/report/devices{?gid}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)

### 获取故障设备台数报表 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "total": 5600,
                "resolved": 5000,
                "unresolved": 600,
                "location": {
                    "China": {
                        "total": 5600,
                        "resolved": 5000,
                        "unresolved": 600,
                        "Guangdong": {
                            "total": 5600,
                            "resolved": 5000,
                            "unresolved": 600,
                            "Guangzhou": {
                                "total": 5600,
                                "resolved": 5000,
                                "unresolved": 600
                            }
                        }
                    }
                }
            }

## 报警设备台数报表 [/products/{product_key}/alert/report/devices{?gid}]

+ Parameters
    + gid (optional, string, `450efc08ee084a839bbf15d5f9ada9e7`, 设备组 ID)

### 获取报警设备台数报表 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "total": 5600,
                "resolved": 5000,
                "unresolved": 600,
                "location": {
                    "China": {
                        "total": 5600,
                        "resolved": 5000,
                        "unresolved": 600,
                        "Guangdong": {
                            "total": 5600,
                            "resolved": 5000,
                            "unresolved": 600,
                            "Guangzhou": {
                                "total": 5600,
                                "resolved": 5000,
                                "unresolved": 600
                            }
                        }
                    }
                }
            }


## 故障次数报表 [/products/{product_key}/fault/report/events{?gid}]

### 获取故障次数报表 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "total": 5600,
                "resolved": 5000,
                "unresolved": 600,
                "detail": {
                    "gate": {
                        "total": 5600,
                        "resolved": 5000,
                        "unresolved": 600,
                    }
                },
                "location": {
                    "China": {
                        "total": 5600,
                        "resolved": 5000,
                        "unresolved": 600,
                        "detail": {
                            "gate": {
                                "total": 5600,
                                "resolved": 5000,
                                "unresolved": 600,
                            }
                        },
                        "Guangdong": {
                            "total": 5600,
                            "resolved": 5000,
                            "unresolved": 600,
                            "detail": {
                                "gate": {
                                    "total": 5600,
                                    "resolved": 5000,
                                    "unresolved": 600,
                                }
                            },
                            "Guangzhou": {
                                "total": 5600,
                                "resolved": 5000,
                                "unresolved": 600,
                                "detail": {
                                    "gate": {
                                        "total": 5600,
                                        "resolved": 5000,
                                        "unresolved": 600,
                                    }
                                }
                            }
                        }
                    }
                }
            }


## 报警次数报表 [/products/{product_key}/alert/report/events{?gid}]

### 获取报警次数报表 [GET]

+ Request (application/json)

    + Header

        Authorization: token 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873
            Last-Modified: Fri, 12 May 2015 18:53:33 GMT
            ETag: "5d33c96c1ce649fe84297ce8e026f

    + Body

            {
                "gid": null,
                "total": 5600,
                "resolved": 5000,
                "unresolved": 600,
                "detail": {
                    "gate": {
                        "total": 5600,
                        "resolved": 5000,
                        "unresolved": 600,
                    }
                },
                "location": {
                    "China": {
                        "total": 5600,
                        "resolved": 5000,
                        "unresolved": 600,
                        "detail": {
                            "gate": {
                                "total": 5600,
                                "resolved": 5000,
                                "unresolved": 600,
                            }
                        },
                        "Guangdong": {
                            "total": 5600,
                            "resolved": 5000,
                            "unresolved": 600,
                            "detail": {
                                "gate": {
                                    "total": 5600,
                                    "resolved": 5000,
                                    "unresolved": 600,
                                }
                            },
                            "Guangzhou": {
                                "total": 5600,
                                "resolved": 5000,
                                "unresolved": 600,
                                "detail": {
                                    "gate": {
                                        "total": 5600,
                                        "resolved": 5000,
                                        "unresolved": 600,
                                    }
                                }
                            }
                        }
                    }
                }
            }
