FORMAT: 1A
HOST: http://api.gdms.gizwits.com/v1/

# GDMS

GDMS(Gizwits Device Management System) 机智云设备管理系统

# 错误信息

## 错误信息格式

    {
        "error_code": 5001,
        "error_msg": "body json invalid"
    }

## 错误信息列表

| error_code | error_message     |
|------------|-------------------|
|       5001 | body json invalid |
|       5002 | form invalid      |

# Group 产品

## 关联产品 [/product/connection]

### 创建关联 [POST]

一个 product_key 只能关联到一个 enterprise_id。

+ Request (application/json)

    + Body

            {
                "enterprise_id": "ad7e60f0594247dcba017ba76d2f4275",
                "enterprise_secret": "db2ac98200824181b447b03e4d42f99b",
                "product_key": "c614a62ceb06499984b1bd67422650d7",
                "product_secret": "8f11ee69eb9d4269ba0777ca5e7280f5"
            }

+ Response 201 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
            }

### 取消关联 [DELETE]

产品下存在设备组不允许取消关联。

+ Request (application/json)

    + Body

            {
                "enterprise_id": "ad7e60f0594247dcba017ba76d2f4275",
                "enterprise_secret": "db2ac98200824181b447b03e4d42f99b",
                "product_key": "c614a62ceb06499984b1bd67422650d7",
                "product_secret": "8f11ee69eb9d4269ba0777ca5e7280f5"
            }

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
            }

## 产品信息 [/product/info]

### 获取产品信息 [GET]

+ Request (application/json)

    + Header

        X-GDMS-Product-Token: 7cf955ec8b504d6497d83f39ce9b16d2

+ Response 200 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "name": "Good Product"
            }

# Group 授权

## 授权 [/authorize]

### 获取 token [POST]

+ Request (application/json)

    + Body

            {
                "enterprise_id": "ad7e60f0594247dcba017ba76d2f4275",
                "enterprise_secret": "db2ac98200824181b447b03e4d42f99b",
                "product_key": "c614a62ceb06499984b1bd67422650d7",
            }

+ Response 201 (application/json)

    + Header

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 56
            X-RateLimit-Reset: 1372700873

    + Body

            {
                "token": "7cf955ec8b504d6497d83f39ce9b16d2",
                "expired_at": 1372700873
            }
